# Preprocessing
Let's check out the data and handle missing values etc.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os 

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # adds folder to Python path

Let's load the data

In [2]:

from src.data.load_data import load_data

claims_raw, _ = load_data(raw=True) # returns train and test dataframes
claims_raw.head()

,IDpol,ClaimNb,Exposure,Area,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Density,Region
0,2122523.0,0,0.43,D,7,18,36,95,B1,Regular,1054,R24
1,3173420.0,0,0.10,D,7,17,80,95,B2,Regular,598,R25
2,1188619.0,0,0.33,E,7,3,36,76,B6,Regular,4172,R82
3,31400.0,0,0.56,A,5,4,73,52,B13,Diesel,15,R24
4,3138755.0,0,0.27,E,8,0,37,50,B11,Diesel,3021,R53

Quick description

In [3]:
claims_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542410 entries, 0 to 542409
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IDpol       542410 non-null  float64
 1   ClaimNb     542410 non-null  int64
 2   Exposure    542410 non-null  float64
 3   Area        542410 non-null  object
 4   VehPower    542410 non-null  int64
 5   VehAge      542410 non-null  int64
 6   DrivAge     542410 non-null  int64
 7   BonusMalus  542410 non-null  int64
 8   VehBrand    542410 non-null  object
 9   VehGas      542410 non-null  object
 10  Density     542410 non-null  int64
 11  Region      542410 non-null  object
dtypes: float64(2), int64(6), object(4)
memory usage: 49.7+ MB

Some objects that will need to be fixed, IDpol float? why?

In [ ]:
print(((claims_raw['IDpol'] % 1) != 0).any())
claims_raw['IDpol'] = claims_raw['IDpol'].astype('int64').astype(str)

False

It should be a string, as it's just an identifier

In [7]:
claims_raw["Area"].value_counts()

Area
C    153287
D    121235
E    109911
A     83150
B     60423
F     14404
Name: count, dtype: int64

In [8]:
claims_raw["VehBrand"].value_counts()

VehBrand
B12    132831
B1     130256
B2     127821
B3      42682
B5      27850
B6      22754
B4      20186
B10     14220
B11     10889
B13      9680
B14      3241
Name: count, dtype: int64

In [ ]:
claims_raw["VehGas"].value_counts()